:root { 
  --black: #000000;
  --black-2: #00000099;
  --vermilion: #fd4c00;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 22px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 54px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-teleneo_var-regular: "TeleNeo Var-Regular", Helvetica;
}
.h1 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.h2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.h3 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.body-large {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.body-small {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.teleneovar-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-teleneo_var-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.teleneovar-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-teleneo_var-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
